@import "tailwindcss";

@theme {
  --color-primary: #F97316;
  --color-secondary: #030712;
  --color-bg-nav: #FFF7ED;
  --color-bg-page: #FFF7ED;
  --font-sans: "Poppins", sans-serif;
  --font-title: "Unbounded", sans-serif;
}

@utility no-scroll {
  overflow: hidden;
}